body {
	padding-top:10px;
}

#neuron_container .panel-body{
	max-height: 80vh;
	overflow: auto;
}

.canvas-grid {
	margin: 0;
	padding: 0;
	cursor: pointer;
}

/*div [class*='col-']{
	border: 1px solid red;
}*/